<ion-header>
  <ion-toolbar>
    <ion-title> Bem-vindo ao Petshop do Lukinhaz </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recursos do aplicativo</ion-card-title>
    </ion-card-header>

    <ion-button expand="full" routerLink="/cadastro-cliente"
      >Cadastrar Cliente</ion-button
    >
    <ion-button expand="full" routerLink="/informacoes-cliente"
      >Informações do Cliente</ion-button
    >
  </ion-card>
</ion-content>
